#profile-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#profile-user img {
  width: 100px;
  display: block;
  border-radius: 50px;
}

#profile-user div {
  text-align: center;
}

#profile-user div span {
  display: block;
}

#profile-user div span:first-child {
  font-size: 1.8em;
  font-weight: 900;
}


#profile input {
  display: none;
}

label {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

#update {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}