section {
  display: flex;
  flex-direction: column;
}

#post input {
  display: none;
}

#photo input {
  display: none;
}

label {
  cursor: pointer;
  align-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#listingForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#listingForm img {
  width: 100px;
  display: block;
  border-radius: 50px;
}

#listingForm div {
  text-align: center;
}

#listingForm div span {
  display: block;
}

#listingForm div span:first-child {
  font-size: 1.8em;
  font-weight: 900;
}